body {
  overflow-x: hidden;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding: 0 !important;
}

.bg-gradient-primary-lr {
  background: rgb(45, 45, 209);
  background: linear-gradient(
    135deg,
    rgba(45, 45, 209, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.repo-img .fa-icon {
  height: 2rem;
}

.fadein {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.img-wrapper img {
  position: absolute;
  top: 0;
}

.card-footer-unstyle {
  padding: 1rem 0.5rem !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: none !important;
}
