.App-logo {
  height: 35vmin;
  max-height: 1440px;
  pointer-events: none;
}

.App-Title {
  font-size: 10vmin;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page {
  height: 70vh;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

svg {
  vertical-align: top !important;
}

.socialButton {
  height: 30px;
}

.socialButton svg {
  position: relative;
  top: 0px;
  color: white;
  width: 30px;
  height: 30px;
}

.socialButton svg:hover {
  color: lightgrey;
}

h1, h2 {
  text-align: center;
}

.card-columns {
  column-count: 2;
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
