.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  vertical-align: top !important;
}

.socialButton {
  height: 30px;
}

.socialButton svg {
  position: relative;
  top: 0px;
  color: white;
  width: 30px;
  height: 30px;
}

.socialButton svg:hover {
  color: lightgrey;
}

h1, h2 {
  text-align: center;
}

.card-columns {
  column-count: 2;
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
